body{


  background-color: #052203;
  overflow:hidden;
}
input[type="button"] {
    border-width: 0;
    outline: none;

    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("images/icons/buttons.png");

    cursor: pointer;
}
#wrapper {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  user-select: none;
}

#gamecontainer {

    /* Set game container width, height and background */
    /* width: 640px;
    height: 480px; */
    margin: 0 auto;
    /* padding: 10px; */
    background: url("images/splashscreen.jpeg");
    background-position: center;
    background-repeat:no-repeat;

    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transform-origin: center center;
}

.gamelayer{
  width:100%;
  height:100%;
  position:absolute;

}
.game-title {
  position:absolute;
  top: 5%;
  text-align:right;
  width: 100%;

  font-family: "Courier New", Courier, monospace;
  font-size: 65px;
  line-height:80px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
}
.game-option{
	text-align:center;
  position:relative;
  top:50%;
  /*left:40%;*/
  display:block;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
  cursor: pointer;
}

.login-form{
	text-align:center;
	position:relative;
	top:50%;
	display:block;
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	color: white;
}
.game-start-info{
	text-align:center;
	position: relative;
	top:50%;
	display:block;
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	color: red;
}

.difficulty-button{
	height: 80px;
	width: 120px;
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
}

#scorescreen {
    height: 50px;

    color: white;
    text-shadow: 0 0 2px black;

    font: 32px "Comic Sans MS";
}


#loadingscreen {
    background: rgba(100, 100, 100, 0.5);
}

#loadingmessage {
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color: white;
    background: url("images/loader.gif") no-repeat center;
    font: 12px Arial;
}

#selectHouseScreen {
  margin-top: 100px;
  text-align: center;

}

#showSelectedHouses {
  margin-top: 150px;
  text-align: center;

}
#showSelectedHouses #vs{
  position:relative;
  top:25%;
  left:0%;
  /* margin-top: 200px; */
  display:block;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
}
#gameinterfacescreen {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.53);

}
#topBar {
  position: relative;
  height: 5%;
  background-color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}
#topBar #gamemessages{
  width: 80%;
	float: left;
  height: 100%;
  /* border-right-style: solid;
  border-right-color: rgb(4, 116, 4); */
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

}

#topBar #userButtons{
	float: right;
	width: 20%;
	height: 100%;
  /* color: rgb(255, 255, 255); */
  vertical-align: middle;
}

#topBar #userButtons #saveGame {
  width: 45%;
  height: 100%;
  border-radius: 4px;
  color: white;
  background-color: green;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

#topBar #userButtons #quitGame {
  width: 45%;
  height: 100%;
  border-radius: 4px;
  color: white;
  background-color: green;
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

#gameinterfacescreen canvas {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 75%;
    left: 0;
}

#bottomBar {
  position: absolute;
  top: 80%;
  width: 100%;
  height: 20%;
  background-color: rgb(0, 0, 0);
}
#currentSelection {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
}
#currentSelection #resource{
  /*position: absolute;*/
	float: left;
  width: 40%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#currentSelection #selection{
	/*position: absolute;*/
	float: right;
	width: 60%;
	height: 100%;
	overflow: auto;
	font-size: small;
}

#currentSelection #resource #wheat{
  position: absolute;
  width: 100%;
  height: 50%;
  padding: 2px;
  font-style: normal;
  vertical-align: middle;
  /* background-color: rgb(231, 128, 21); */
}
#currentSelection #resource #timber{
  position: absolute;
  width: 100%;
  top: 50%;
  height: 50%;
  padding: 2px;
  font-style: normal;
  vertical-align: middle;
  /* background-color: rgb(99, 25, 158); */
}


#buildOption {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 30%;
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
}
#buildOption input[type="button"]{
  width: 48px;
  height:48px;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
#barrack {
  background-position: -48px 0px;
}
#barrack:disabled, #barrack:active {
    background-position: -192px 0px;
}

#stable {
  background-position: 0px 0px;
}

#stable:disabled, #stable:active {
    background-position: -144px 0px;
}

#dock {
  background-position: -96px 0px;
}

#dock:disabled, #dock:active {
  background-position: -240px 0px;
}

#villager{
  background-position: 0px -48px;
}

#villager:disabled, #villager:active{
  background-position: -144px -48px;
}

#militia{
  background-position: -48px -48px;
}

#militia:disabled, #militia:active{
  background-position: -192px -48px;
}

#knight{
  background-position: -96px -48px;
}

#knight:disabled, #knight:active{
  background-position: -240px -48px;
}

#melisandre{
  background-position: 0px -96px;
}
#melisandre:disabled, #melisandre:active{
  background-position: -144px -96px;
}

#direwolf{
  background-position: -48px -96px;
}

#direwolf:disabled, #direwolf:active{
  background-position: -192px -96px;
}

#warship{
  background-position: -96px -96px;
}

#warship:disabled, #warship:active{
  background-position: -240px -96px;
}

#dragon{
  background-position: 0px -144px;
}

#dragon:disabled, #dragon:active{
  background-position: -144px -144px;
}

#worldMap {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 70%;
  background-color: rgb(0, 0, 0);
}

#messageboxscreen {
  background: rgba(0,0,0,0.7);
  z-index:10;
}

#messagebox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;

  width: 296px;
  height: 178px;

  background: url("images/screens/messagebox.png") no-repeat center;
  color: rgb(130, 150, 162);
  overflow: hidden;

  fonts-zie: 13px;
  font-family: "Courier New", Courier, monospace;
}
#messagebox span {
    position: absolute;

    top: 30px;
    left: 50px;
    width: 200px;
    height: 100px;
}

#messageboxok {
    position: absolute;

    top: 128px;
    left: 11px;
    width: 74px;
    height: 26px;

    background-position: -0px -192px;
}

#messageboxok:active, #messageboxok:disabled {
    background-position: -74px -192px;
}

#messageboxcancel {
    position: absolute;

    left: 197px;
    top: 130px;
    width: 74px;
    height: 26px;

    background-position: -74px -218px;
}

#messageboxcancel:active, #messageboxcancel:disabled {
    background-position: 0px -218px;
}
