body{


  background-color: #052203;
  overflow:hidden;
}

#wrapper {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  user-select: none;
}

#gamecontainer {

    /* Set game container width, height and background */
    width: 1120px;
    height: 630px;
    margin: 0 auto;
    padding: 10px;
    background: url("images/splashscreen.jpeg");
    background-position: center;
    background-repeat:no-repeat;

    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transform-origin: center center;
}

.gamelayer{
  width:100%;
  height:100%;
  position:absolute;

}
.game-title {
  position:absolute;
  top: 5%;
  text-align:right;
  width: 100%;

  font-family: "Courier New", Courier, monospace;
  font-size: 90px;
  line-height:80px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
}
.game-option{
  position:relative;
  top:65%;
  left:40%;
  display:block;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
  cursor: pointer;
}
#scorescreen {
    height: 50px;

    color: white;
    text-shadow: 0 0 2px black;

    font: 32px "Comic Sans MS";
}


#loadingscreen {
    background: rgba(100, 100, 100, 0.5);
}

#loadingmessage {
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color: white;
    background: url("images/loader.gif") no-repeat center;
    font: 12px Arial;
}

#selectHouseScreen {
  margin-top: 100px;
  text-align: center;

}

#showSelectedHouses {
  margin-top: 150px;
  text-align: center;

}
#showSelectedHouses #vs{
  position:relative;
  top:25%;
  left:0%;
  /* margin-top: 200px; */
  display:block;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
}
