body{


  background-color: #052203;
  overflow:hidden;
}

#wrapper {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  user-select: none;
}

#gamecontainer {

    /* Set game container width, height and background */
    /* width: 640px;
    height: 480px; */
    margin: 0 auto;
    /* padding: 10px; */
    background: url("images/splashscreen.jpeg");
    background-position: center;
    background-repeat:no-repeat;

    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transform-origin: center center;
}

.gamelayer{
  width:100%;
  height:100%;
  position:absolute;

}
.game-title {
  position:absolute;
  top: 5%;
  text-align:right;
  width: 100%;

  font-family: "Courier New", Courier, monospace;
  font-size: 90px;
  line-height:80px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
}
.game-option{
  position:relative;
  top:65%;
  left:40%;
  display:block;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
  cursor: pointer;
}
#scorescreen {
    height: 50px;

    color: white;
    text-shadow: 0 0 2px black;

    font: 32px "Comic Sans MS";
}


#loadingscreen {
    background: rgba(100, 100, 100, 0.5);
}

#loadingmessage {
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color: white;
    background: url("images/loader.gif") no-repeat center;
    font: 12px Arial;
}

#selectHouseScreen {
  margin-top: 100px;
  text-align: center;

}

#showSelectedHouses {
  margin-top: 150px;
  text-align: center;

}
#showSelectedHouses #vs{
  position:relative;
  top:25%;
  left:0%;
  /* margin-top: 200px; */
  display:block;

  font-family: "Courier New", Courier, monospace;
  font-size: 50px;

  color:white;
  text-shadow: -2px 0 green, 0 2px green, 2px 0 green, 0 -2px green;
}
#gameinterfacescreen {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.53);

}
#topBar {
  position: relative;
  height: 5%;
  background-color: rgb(245, 159, 144);
}
#gameinterfacescreen canvas {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 75%;
    left: 0;
}

#bottomBar {
  position: absolute;
  top: 80%;
  width: 100%;
  height: 20%;
  background-color: rgb(144, 218, 245);
}
#currentSelection {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: rgb(245, 144, 244);
}
#currentSelection #resource{
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

}
#currentSelection #resource #wheat{
  position: absolute;
  width: 100%;
  height: 50%;
  padding: 2px;
  font-style: normal;
  vertical-align: middle;
  /* background-color: rgb(231, 128, 21); */
}
#currentSelection #resource #timber{
  position: absolute;
  width: 100%;
  top: 50%;
  height: 50%;
  padding: 2px;
  font-style: normal;
  vertical-align: middle;
  /* background-color: rgb(99, 25, 158); */
}
#buildOption {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 30%;
  background-color: rgb(245, 211, 144);
}
#worldMap {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 70%;
  background-color: rgb(144, 245, 218);
}
